body{
  background: #000000;
  font-family: 'Open Sans', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  border: 0;
}



/* Carrusel de heder */
.mi-carrusel{
  width: 100%;
  height: auto;
  /* margin-top: -60px; */
}


/* Linea Separadora de Secciones */
hr {
  color: #5bc0de;
  background-color: #5bc0de;
  height: 1px;
  width:100%;
}

/* Titulos Secciones */
h2 {
  font-weight: 400;

}

/* Parrafos */
p {
  font-weight: 300;
}

/* Tarjetas */
.card{
  width: 16rem;
  height: 25rem;
}

.c-img{
  height: 10rem;
  width: auto;
}

/* Footer */
footer{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
footer a{
  color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
