body{
  background: #000000;
}
body{
  margin: 0;
  padding: 0;
  border: 0;
}

/* NavBar */
.my-nav{
  z-index: 999;
  background: none !important;
  border: 0 !important;
  border-radius: 0 !important;
}


nav a{
  color: white !important;
}

/* Carrusel de heder */
.mi-carrusel{
  margin-top: -60px;
}

/* Secciones */
hr {
  color: #5bc0de;
  background-color: #5bc0de;
  height: 1px;
  width:100%;
}

/* Tarjetas */
.card{
  width: 16rem;
  height: 25rem;
}

.c-img{
  height: 10rem;
  width: auto;
}

/* Footer */
footer {
  /* padding: 10px; */
}

/* footer i {
  margin: 0 0.25em 0.5em 0.25em;
} */
footer a{
  color: #ffffff;
  /* text-decoration: none; */
}
